<div id="search_results_title">
  <h1>Coffee Search Results</h1>

  <div id="coffee_shop_list">
    <% @search_results.each do |coffeeshop| %>
      <div class="list_result">
        <p><%= link_to coffeeshop.name, coffee_shop_path(coffeeshop) %></p>
      </div>
    <% end %>
  </div>

  <div id="add">
    <%= link_to 'Add a Coffee Shop', new_coffee_shop_path %>
    <% @coffeeshops.each do |coffeeshop| %>
    <% end %>
  </div>
</div>
 



