<h1>Coffee Search Results</h1>


<% @search_results.each do |coffeeshop| %>
  <p><%= link_to coffeeshop.name, coffee_shop_path(coffeeshop) %></p>
<% end %>

<%= link_to 'Add a Coffee Shop', new_coffee_shop_path %>

<% @coffeeshops.each do |coffeeshop| %>
<% end %>

 



