<%= link_to 'Add a Coffee Shop', new_coffee_shop_path %>

<% @coffeeshops.each do |coffeeshop| %>
  <p><%= link_to coffeeshop.name, coffee_shop_path(coffeeshop) %></p>
<% end %>

<%= link_to 'Add a Coffee Type', new_coffee_type_path %>

<% @coffeetypes.each do |coffeetype| %>
  <p><%= link_to coffeetype.name, coffee_type_path(coffeetype) %></p>
<% end %>